page-before-sign-up {
  .size
  {
      margin: 5% 21% 5% 21%;
      width: 58%;
      height: auto;
      align-content: center;
  }
  .lower
  {
    margin-top: 10%;
  }
  p
  {
    margin: 5px 0px 0px 5px;
    text-align:center;
    font-size: 20px;
  }
  .line
  {
    height: 1px;
    width: 80%;
    margin:0 auto;
    margin-bottom: 8%;
    background-color: #555;
    transform: rotate(-20deg);
  }
}
