page-login {
  ion-icon{
      color:white;
    }

  .size
  {
      margin: 20% 12% 5% 12%;
      width: 76%;
      height: auto;
      align-content: center;
  }
  .LR_buttons
  {
    margin: 20px 0 8px 0;
  }
  .item
  {
    background-color: transparent;
  }
  .flex
  {
      display: flex;
  }
  .or_field
  {
      height: 40px;
  }
  .line
  {
      flex: 1;
      margin-top: 19px;
      background-color: #b6b6b6;
      height: 1px;
      margin-bottom: 19px;
  }
  .or
  {
      color: #8e8e8e;
      line-height:40px;
      text-align: center;
      width: 50px;
  }
  .buttons
  {
      //width:150px;
      margin: 0 10px;
      flex:1;
  }
  .sup
  {
      margin-top: -1.5vh;
      margin-bottom: 3px;
      color: #8e8e8e;
      line-height:40px;
      text-align: center;
  }
  .onlyLogin
  {
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner
    {
      border-bottom-color: #c0392b;
      -webkit-box-shadow: inset 0 -1px 0 0 #c0392b;;
      box-shadow: inset 0 -1px 0 0 #c0392b;;
    }

  }
}
.backgroundIMG
{
  background-image: url("https://image.ibb.co/iMY7Rk/background_polygons.png");
  background-size: cover;
} 
