page-sign-up-details {

  p {
    color: red;
    font-size: 12px;
    margin: 10px 0 -5px 16px;
    transition: opacity 2s ease-in;
  }

  p.ios
  {
      margin: 0 0 0 16px;
  }

  .skip_button
  {
    margin: 32px auto 12px auto;
    display: block;
  }

  .done_button
  {
    margin: 32px auto 12px auto;
    display: block;
  }
}
