page-consultations {
  .rating{
    margin-left: 10px;
  }
  .ionic3-star-rating[_ngcontent-c0] .button[_ngcontent-c0] ion-icon[_ngcontent-c0] {
    font-size: 22px;
  }
  .position
  {
    position: relative;
  }
  .position div{
    padding-top: 8px;
    position: absolute;right:16px;
  }
  .row.button
  {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    font-size: 12px;
  }
}
