<!--
  Generated template for the ConsultationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="cameFrom == 'private_lessons'">Private Lessons</ion-title>
    <ion-title *ngIf="cameFrom == 'career_orientation'">Career Orientation</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding class="backgroundIMG">
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>





  <div *ngFor="let student of studentsToShow; let i = index">
  <ion-card (click)="goToStudentProfile(student)">

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/graduate.png">
      </ion-avatar>
      <h2>{{student.data.first_name}} {{student.data.last_name}}</h2>
      <p class="location">{{student.data.location}}, {{student.data.faculty}}</p>
    </ion-item>

    <div class="rating">
      <ionic3-star-rating
        activeIcon = "ios-star"
        defaultIcon = "ios-star-outline"
        activeColor = "#ffff33"
        defaultColor = "#808080"
        size = "80px"
        readonly="true"
        [rating]="this.studentsToShow[i].data.rating"
        >
      </ionic3-star-rating>
    </div>

    <ion-card-content>
      <p>{{student.data.self_description}}</p>
    </ion-card-content>

    <ion-row>

      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="clipboard"></ion-icon>
          <div>{{student.data.subject}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="podium" *ngIf="student.data.level != ''"></ion-icon>
          <div>{{student.data.level}}</div>
        </button>
      </ion-col>
      <ion-col class="position">
        <ion-note item-end >
          <div>{{student.data.price}} ron</div>
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
  </div>
</ion-content>
