page-add-child {

    p {
      color: red;
      font-size: 12px;
      margin: 10px 0 -5px 16px;
      transition: opacity 2s ease-in;
    }

    p.ios
    {
        margin: 0 0 0 16px;
    }

    .flex
    {
        display: flex;
        margin-top: 30px;
    }

    .buttons1
    {
        //width:150px;
        margin: 0 10px;
        flex:2;
    }

    .buttons2
    {
        //width:150px;
        margin: 0 10px;
        flex:5;
    }

    .LR_buttons
    {
      margin: 20px 0 8px 0;
    }

    .backgroundIMG
    {
      background-image: url("https://image.ibb.co/iMY7Rk/background_polygons.png");
      background-size: cover;
    }

    .item
    {
      background-color: transparent;
    }

}
